body{
    background-color:rgb(29, 28, 28);
}
.navbar{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color:rgb(29, 28, 28);
}
.navbar-left{

    padding-left: 20px;
    color: rgb(202, 198, 198);
}
.navbar-right{
    padding-right: 30px;
   display: flex;
   flex-direction: row;
   align-items: center;
  
}
.a-element{
    font-size: 22px;
    padding:7px;
    margin:20px;
    color:rgb(241, 172, 43);
}
.About{
display: flex;
flex-direction: row;
justify-content: center;
background-color:rgb(48, 47, 47);
padding-top:100px;

}
.myphoto{
    background-color:rgb(199, 138, 26);
    
}
.name{
    color:orange;
}
h2{
    color:white ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    
}
.button1{
 background-color:rgb(48, 47, 47);
 color: rgb(240, 162, 17);
 border: 4px solid rgb(192, 127, 6);
 padding: 10px;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.aboutme{
    background-color:rgb(29, 28, 28);
    
   
}
.about-1{
    padding-left: 70px;
    font-size: 40px;
    padding-top:50px;
    color: orange;
    
 
}
.para{
    color:white;
    font-size: 25px;
    padding-left: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.name2{
    color: orange;
}
.skills{
    font-size:60px;
    color:orange;
    text-align: center;
    letter-spacing: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.skills1{
    
    margin:20px;
    font-size: 40px;
    background-color: rgb(44, 43, 43);
    width: 500px;
    padding-left: 80px;
}
.skills-row{
    margin-left:100px;
    margin-right: 100px;
    font-size: 10px;
    display: flex;
    flex-direction:row ;
    
}
.skills-row2{
   margin-left: 650px;
   margin-top: 100px;
   background-color: rgb(44, 43, 43);
   width: 250px; 
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom:50px;
}
.education-1{
    color:orange;
    font-size: 70px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 6px;
    
}
.year{
    color: orange;
}
.percent{
    border: 10px solid rgb(73, 72, 72);
   background-color:rgb(241, 165, 22);
   padding-left:40px;
}
.heading-1{
    color:black;
    background-color: white;
}
.heading-2{
   background-color: orange;
}
.heading-3{
    background-color:red;
}
.heading-4{
    background-color:skyblue;
}
.heading-5{
    background-color: blue;
}
.data{
    color:red;
}
h6{
    color: white;
    font-size: 50px;
    text-align: center;
}
.contactname{
    color: orange;
    text-align: center;
    font-size: 35px;
    margin-top: 70px;
}
.contact{
    display: flex;
    flex-direction:row;
    justify-content: center;
    background-color: rgb(224, 156, 28);
    padding-bottom: 50px;
    padding-top: 50px;
    margin:140px;
   
    
}
.contact-row{
    background-color:black;
    padding-left: 250px;
    padding-right: 200px;
    color: rgb(214, 211, 211);
    padding-bottom: 70px;
    padding-top: 70px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.contact-img{
    background-color:black;
    display:flex;
    justify-content: center;
    padding-right: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
   }
.taik{
    color: orange;
}
.contact-head{
    color: white;
}
.contact-button1{
    background-color: orange;
    margin-top: 20px;
    padding: 10px;
    font-style: italic;
}
input{
    background-color: rgb(77, 75, 75);
    display: flex;
    flex-direction: column;
    color: rgb(226, 222, 222);
}  
textarea{
    background-color: rgb(77, 75, 75);
    display: flex;
    flex-direction: column;
    color: rgb(226, 222, 222);

} 
.social-icons{
    display: flex;
    justify-content:space-between;
    padding-top: 50px;
}